{% extends "base.html" %}

{% block title %}Éditer - {{ sample.reference }}{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-header">
        <h2>Éditer l'échantillon</h2>
        <p>Modifiez les informations de l'échantillon <strong>{{ sample.reference }}</strong></p>
    </div>

    <form method="POST" action="{{ url_for('ms.sample_edit', sample_id=sample.id) }}" class="sample-form" enctype="multipart/form-data">
        {% include "partials/_user_info.html" %}

        <div class="form-section">
            <h3>Informations de l'échantillon</h3>

            <div class="form-row">
                <div class="form-group required">
                    <label for="reference">Référence de l'échantillon <span class="required-star">*</span></label>
                    <input type="text" id="reference" name="reference" required
                           value="{{ sample.reference }}" placeholder="Ex: SAM-2024-001">
                </div>

                <div class="form-group required">
                    <label for="quantity">Quantité déposée (mg) <span class="required-star">*</span></label>
                    <input type="number" id="quantity" name="quantity" step="0.1" required
                           value="{{ sample.quantity }}" placeholder="Ex: 1.5" min="0.1">
                </div>
            </div>
        </div>
		
		<div class="form-section">
            <h3>Structure chimique</h3>

			<div class="form-row">
				<div class="form-group">
					<label for="structure_file">Fichier de structure (laisser vide pour conserver l'ancien)</label>
					<input type="file" id="structure_file" name="structure_file"
						   accept=".cdx,.cdxml,.mol,.sdf">
					<span class="help-text">Formats acceptés: .cdx, .cdxml, .mol, .sdf (optionnel)</span>
				</div>
				<div class="form-group">
					<label for="formula">Formule brute</label>
					<input type="text" id="formula" name="formula"
						   value="{{ sample.formula }}" placeholder="Ex: C8H10N4O2">
					<span class="help-text">Formule chimique de l'échantillon (optionnel)</span>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group required">
					<label>Solvant utilisé<span class="required-star">*</span>
						<div id="solvents-container" class="checkbox-group">
							{% if sample.solvents %}
								{% set sample_solvents_list = sample.solvents.split(', ') %}
							{% else %}
								{% set sample_solvents_list = [] %}
							{% endif %}
							{% for code, solvent in solvents.items() %}
							<div class="checkbox-item">
								<input type="checkbox" id="solvent_{{ loop.index }}" 
								   name="solvents" value="{{ code }}" {% if code in sample_solvents_list %}checked{% endif %}>
								<label for="solvent_{{ loop.index }}">{{ solvent | safe }}</label>
							</div>
							{% endfor %}
							<div class="checkbox-item">
								<input type="checkbox" id="other_solvent" name="other_solvent" value="other">
								<label for="other_solvent">Autre</label>
								<input type="text" id="other_solvent_name" name="other_solvent_name" placeholder="Précisez..." style="width: 180px;" disabled="">
							</div>
						</div>
					<span class="help-text">Solvant utilisé pour la préparation d'échantillon</span>
				</div>
			</div>
        </div>

        <div class="form-section">
            <h3>Informations supplémentaires</h3>

            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea id="notes" name="notes" rows="4"
                          placeholder="Ajoutez des notes ou commentaires...">{{ sample.notes or '' }}</textarea>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Sauvegarder
            </button>
            <a href="{{ url_for('ms.sample_detail', sample_id=sample.id) }}" class="btn btn-secondary">
                <i class="fas fa-times"></i> Annuler
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
document.addEventListener('DOMContentLoaded', function() {
	const otherCheckBox = document.getElementById('other_solvent');
	const otherTextBox = document.getElementById('other_solvent_name');
	
	const sampleOtherSolvent = "{{ sample.other_solvent if sample.other_solvent }}"
	
    // Écouter le changement de fréquence
    otherCheckBox.addEventListener('change', function() {
        if (this.checked) {
                otherTextBox.disabled = false;
                otherTextBox.focus();
            } else {
                otherTextBox.disabled = true;
                otherTextBox.value = '';
            }
    });
	
	if (sampleOtherSolvent)
	{
		otherTextBox.value = sampleOtherSolvent;
		otherTextBox.disabled = false;
		otherCheckBox.checked = true;
	}
	else {
		otherTextBox.disabled = true;
	}
});
</script>
{% endblock %}